<h1>About {{name}}</h1>

<p>{{description}}</p>

<p>
  <a href="#" {{action toggleTeam}}>{{toggleTeamLabel}}</a>
  {{#linkTo members.index}}manage team{{/linkTo}}
</p>

{{render "team" controller.members}}

